{% extends 'core/PlantillaPerfilAportador.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %}

<div class="container">

    <table class="table table-striped table-hover" id="storeList">
        <thead>
            <tr>
                <th scope="col">Fecha Registro</th>
                <th scope="col">Nombre</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for p in nombre %}
        
            <tr>
                <td data-label="fecha">{{p.pagosaportador__fecha_pago}}</td>
                <td data-label="descripcion">{{p.nombre}} {{p.apellido}} </td>
                <td data-label="descripcion">{{p.pagosaportador__monto}}</td>
                
            </tr>
           
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>Total Aportes: {{suma_aporte}}  </h4>
    
</div>
    
{% endblock %}